root = true

[*]
end_of_line = lf #Para não bugar o codigo dentro de outros sistemas opecarionais
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true #Tira os espaços finais das linhas
insert_final_newline = true #insere uma linha no final do arquivo

